[submodule "grover"]
	path = grover
	url = https://github.com/lucasliebe/grover-module
[submodule "tem/topic-evolution-model"]
	path = tem
	url = https://github.com/jannis-baum/topic-evolution-model.git
